.flex-container{
    display:flex;
}

.flex-item1{
    height:200px;
    background-color: #6495ED;
    margin:10px;
    width:50%;
}

.flex-item2{
    height:200px;
    background-color: #FF6348;
    margin:10px;
    width:25%;
}

.flex-item3{
    height:200px;
    background-color: #FF6348;
    margin:10px;
    width:50%;
}

.flex-item4{
    height:200px;
    background-color: #9370DB;
    margin:10px;
    width:40%;
}

.flex-item5{
    height:200px;
    background-color: #9370DB;
    margin:10px;
    width:20%;
}

.flex-container2{
    display:flex;
    justify-content:space-between;
}

.flex-item6{
    height:200px;
    background-color: #8FBC8F;
    margin:10px;
    width:33.3%;
}

.flex-item7{
    height:200px;
    background-color: #D9A521;
    margin:10px;
    width:25%;
}

.flex-item8{
    height:200px;
    background-color: #D9A521;
    margin:10px;
    width:25%;
    margin-left:auto;
}